html, body{
    height: 99vh;
    margin: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: rgb(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    width: inherit;
    z-index: 1000 !important;
}

nav>img{
    height: 60px;
}

nav>ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-self: center;
}

nav>ul li{
    list-style: none;
    font-size: 30px;
}

nav>ul li a{
    color: white;
    text-decoration: none;
}

nav>ul li a:hover{
    color: brown;
}

.video-dialog-container h2{
    font-weight: 700;
    font-size: 30px;
    margin: 0;
}

.menu-preview-container{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-preview-container h2{
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 30px;
}

.product-preview-container{
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;  
    color: black;
    flex-wrap: wrap;
}

.product-container{
    width: 300px;
    height: 350px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.product-preview-container img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}

.product-container p{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.product-container:hover{
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.price{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

footer{
    background-image: url(../image/footer-bg.jpg);
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color: white;
}

footer span{
    font-weight: 600;
    margin: 0;
}

footer h2, footer p{
    margin: 0;
}
